<div class="container">
  <div class="card">
    <h2><%= @flat.name %></h2>
    <p><%= @flat.address %></p>
  </div>

  <div class="card">
    <h3>A bit more about this flat...</h3>
    <p><%= @flat.description %></p>
  </div>
  
  <div class="card">
    <h3>Details</h3>
    <p> <i class="fas fa-users"></i> <%= @flat.number_of_guests %> 
    <i class="fas fa-euro-sign"></i> <%= @flat.price_per_night %></p>
  </div>

  <div class="card">
  <h3>Book this place</h3>
  
  </div>
</div>